.event-card {
  position: relative;
  /* Event 3 */
  width: 384px;
  height: 597.25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 30px 0;

  border-radius: 24px;
  box-shadow: 0px 20px 50px -12px rgba(26, 28, 29, 0.06);
  background: rgba(255, 255, 255, 1);
}

.event-card .image {
  position: relative;
  width: 384px;
  height: 256px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 24px;
}

.event-card .image .type {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 4px 12px;
  border-radius: 8px;
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.9);
  z-index: 1;
  color: rgba(188, 1, 0, 1);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: Regular;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}

.event-card .image img {
  position: relative;
  width: 384px;
  height: 256px;
  object-fit: cover;
  border-radius: 24px 24px 0 0;
}

.event-card .event-info {
  position: relative;
  width: 384px;
  height: 341.25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
  padding: 32px;
}

.event-card .event-info .header {
  position: relative;
  width: 320px;
  height: 28px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 0px 12px 0px;
  gap: 8px;
}

.event-card .event-info .header span {
  position: relative;
  color: #bc0100;
  font-family: "Inter", sans-serif;
  font-style: Regular;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 1.2px;
  text-align: left;
  text-transform: uppercase;
  padding-top: 2px;
}

.event-card .event-info strong {
  position: relative;
  color: rgba(26, 28, 29, 1);

  font-family: "Inter", sans-serif;
  font-style: Regular;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 16px;
}

.event-card .event-info p {
  position: relative;
  margin: 0;
  padding: 0;
  color: rgba(95, 94, 94, 1);

  font-family: "Inter", sans-serif;
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 32px;
}

.event-card .event-info .location {
  position: relative;
  margin-top: 5px;
  width: 320px;
  height: 77px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  box-sizing: border-box;
  border-top: 1px solid rgba(232, 232, 234, 1);
  padding-top: 24px;
}

.event-card .event-info .location .time {
  position: relative;
  width: 320px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.event-card .event-info .location .time span {
  position: relative;
  color: rgba(96, 62, 57, 1);

  font-family: "Inter", sans-serif;
  font-style: Regular;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

.event-card .event-info .location .address {
  position: relative;
  width: auto;
  height: 44px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
}

.event-card .event-info .location .address span {
  position: relative;

  font-family: "Inter", sans-serif;
  font-style: Regular;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(26, 28, 29, 1);
}

.event-card .event-info .location .address p {
  position: relative;

  color: rgba(95, 94, 94, 1);

  font-family: "Inter", sans-serif;
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  margin: 0;
  padding: 0;
}
